html,
body,
#layout,
.panel-container,
.panel-content,
.panel-editor {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
}

#layout {
  padding:1px;
}

body, .panel-content {
  font-family: sans;
  font-size: 0.8em;
}


.ace_search {
  width: 100% !important;
  max-width: 300px !important;
}

.account-icon {
  position: relative;
  height: 20px;
}

.custom-icon {
  position: relative;
  margin-left: -20px;
  margin-top: -5px;
  height: 16px;
}

#popup {
  position: absolute;
  left: 0;
  top: 0;
  right: 0; 
  bottom: 0;
}

.panel-editor {
  border: 4px solid #fff;
  height: 100%;
  width: 100%;
}

.active-editor {
  border: 4px solid #ffa;
}

.panel-content,
.panel-editor {
  display: none;
}

#logo {
  cursor: pointer;
  font-size: 1.5em;
  font-family: sans;
  vertical-align: bottom;
  font-weight: normal;
  margin-top: -30px;
  padding: 20px 10px 10px 10px;
  text-shadow: 1px 1px #eee;
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 20% , rgba(255,255,255,0.0));
}

#logo:hover {
  background: linear-gradient(45deg, rgba(255,255,255,0.9) 20% , rgba(250,250,250,0.3)) !important;
}
.logo {
  top: 5px;
  position: relative;
}

#alpha {
  position: absolute;
  top: 5px;
  left: 175px;
  font-size: 0.5em;
  font-style: italic;
}

.fa {
  color: #444 !important;
}

.w2ui-icon {
  width: 22px !important;
  height: 22px !important;
}

.w2ui-node, .w2ui-node-sub {
  min-width: 450px;
}

#layout_layout_panel_top .w2ui-toolbar {
  background: linear-gradient(0deg, #77a, #bce 20%,#fff) !important;
  
}

.small-button {
  background: #ccc;
  color: #555;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 2px 1px 2px;
  border: 1px solid #888;
  opacity: 0.8;
  white-space:nowrap;
}

.small-button:hover {
  background: #ddd;
  opacity: 1;
}

.w2ui-panel-content {
  background: #fff important;  
}

.w2ui-toolbar {
  background: linear-gradient(0deg, #ccc,#fff);
}

.w2ui-tabs, .w2ui-toolbar {
  overflow-x: auto !important;
}
.w2ui-panel-tabs {
  background: linear-gradient(0deg, #08b 90%, #558) !important;
  padding-top: 2px !important;
}

.w2ui-panel-toolbar {
  padding-left: 0 !important;
}

.w2ui-tabs .w2ui-tab {
  padding: 5px 15px 0 4px !important;
  margin: 1 !important;
  height: 34px !important;
  min-height: 34px !important;
  max-height: 34px !important;
  text-align: left !important;
  width: 120px !important;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w2ui-tab-close {
  position:absolute;
  margin-left: 100px !important;
}

#temporarytab {
  background: linear-gradient(0deg, #afa, #5a5) !important;
  min-width: 120px !important;
}

.w2ui-tabs table {
  min-height: 35px !important;
  height: 35px !important;
  max-height: 35px !important;
  padding: 0px !important;
}

.w2ui-tab:not(.active) {
  background: linear-gradient(0deg, #aaa 20%, #bbb 80%, #ccc) !important;
  box-shadow: 0px 0px 5px 0px black;
}

.w2ui-tabs .active {
  background: linear-gradient(0deg, #fff 20%, #ccc 80%, #fff) !important;
  box-shadow: 0 0 5px 0 black;
}

.drop-highlight {
  background: linear-gradient(0deg, #afa, #5a5) !important;
  box-shadow: inset 0 0 10px 1px #fff;
}

.inactive-panel {
  background: linear-gradient(0deg, #fff, #ddf) !important;
  padding: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #558;
  text-shadow: 1px 1px #ccc;
}

.inactive-panel h1 {
  margin: 0;
}


#layout_layout_panel_left .w2ui-panel,
#layout_layout_panel_main .w2ui-panel,
#layout_layout_panel_right .w2ui-panel,
#layout_layout_panel_bottom .w2ui-panel {
  border-radius: 2px;
  margin: 0 !important;
  border: 1px solid black;
}

#layout_layout_panel_left,
#layout_layout_panel_main,
#layout_layout_panel_bottom,
#layout_layout_panel_right
{
  margin: 0 !important;
  border: none;
}


.w2ui-resizer {
  background: radial-gradient(#aaf, transparent 50%) !important;
  background-size: 3px 3px !important;
  opacity: 1;
}
  
.w2ui-horizontal-resizer {
  height: 6px !important;
  margin-top: 3px;
}

.w2ui-vertical-resizer {
  width: 6px !important;
  margin-left: 3px;
}
.w2ui-vertical-resizer .w2ui-resize-toggle:after {
  position: relative;
  top: 20px;
  left: 3px;
  font-family: FontAwesome;
  content: "\f142";
}

.w2ui-horizontal-resizer .w2ui-resize-toggle:after {
  position: relative;
  left: 20px;
  top: -2px;
  font-family: FontAwesome;
  content: "\f141";
}

#layout_layout_resizer_main,
#layout_leftsplit_resizer_main,
#layout_middlesplit_resizer_main,
#layout_rightsplit_resizer_main,
#layout_bottomsplit_resizer_main
{
  display: none !important;
}

.w2ui-resize-toggle {
  border: 1px solid #aaf;
  
  color: #aaf;
  background: linear-gradient(0deg, #ccf, white);
  z-index: 250;
  cursor: pointer;
}

.w2ui-horizontal-resizer .w2ui-resize-toggle {
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;
  width: 55px;
  height: 10px;
}

.w2ui-vertical-resizer .w2ui-resize-toggle {
  margin: auto;
  background: linear-gradient(90deg, #ccf, white);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  right: 0;
  width: 10px;
  height: 55px;
}

.w2ui-resize-toggle:hover{
  background: #fff;
  color: #aaf;
}

body:not(.selectable) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[draggable] {
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  user-drag: none; 
}
