html, body, #layout {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
}


.w2ui-tabs, .w2ui-toolbar {
  overflow-x: auto !important;
}
.w2ui-panel-tabs {
  background: #eee !important;
}
.w2ui-tabs table {
  height: 25px;
}

.w2ui-tab:not(.active) {
  background: #ddd !important;
}

#layout_layout_panel_left .w2ui-panel,
#layout_layout_panel_main .w2ui-panel,
#layout_layout_panel_right .w2ui-panel
{
  border: 1px solid black;
  background: red;
}

#layout_leftsplit_resizer_preview, 
#layout_mainsplit_resizer_preview, 
#layout_rightsplit_resizer_preview {
  height: 10px !important;
  width: 50px !important;
  left: 50% !important;
  top: 150%;
  margin-left:-25px;
  margin-top:-5px;
  opacity: 1;
  background:
    radial-gradient(#fff 30%, transparent 5%) 0 0,
    radial-gradient(#fff 30%, transparent 5%) 0 5px;
  background-color:#999;
  background-size:5px 5px;
}

#layout_layout_resizer_left, 
#layout_layout_resizer_right {
  width: 10px !important;
  top: 49% !important;
  height: 50px !important;
  margin-left: -5px;
  left: -150%;
  opacity: 1;
  background:
    radial-gradient(#fff 30%, transparent 5%) 0 0,
    radial-gradient(#fff 30%, transparent 5%) 0 5px;
  background-color:#999;
  background-size:5px 5px;
}


.w2ui-panel-title {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;;
}

.w2ui-icon {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}


[draggable] {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
