html, body, #layout {
  height:100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.panel-button {
  background: white;
  border: none;
  position:relative;
  width: 20px;
  height: 20px;
  float: right;
}
  
.panel-button:before {
  position:absolute;
  font-family: FontAwesome;
  content: "\f147";
  font-size: 1.5em;
  top: 0;
  left: 0;
}

.close-panel:before {
  content: "\f00d";
}

.split-panel:before {
  content: "\f147";
}


.w2ui-tabs, .w2ui-toolbar {
  overflow-x: auto !important;
}

.w2ui-tab:not(.active) {
  background: #ddd !important;
}

.w2ui-icon {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}


[draggable] {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
