
body {
    background: linear-gradient(0deg, #000, #502);
    font-family: arial, sans;
    text-shadow: 0px 10px 10px red;
    font-weight: bold;
    color: white;
    margin: 0px;
    padding: 5px;
}

#gallery {
    background: #000;
    margin: 0px;
    padding: 3px;
}

#gallery img {
    max-width: 150px;
    height: 150px;
    margin-left: 3px;
    border-right: 150px solid #FFF;}

.del:hover {opacity: 0.5;}
